body {
	background: url("../img/binding_dark.png") repeat;
    position: relative;
    margin:  0;
}

/*.TDT {
	width: 470px;
	margin: 30em auto;
}

.TDT_down {
	width: 470px;
	margin: 30em auto;
}*/

.flip-clock-label {
	font-size: 24px;
	color: #DDD;
}